@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Fira Sans", serif;
    background-color: #F1F1F3;
}

/* shared style*/

section{
    width: 1020px;
    padding: 120px 60px;
    margin: 0 auto;
}
.btn:hover{
    opacity: 70%;
    transition: .5s;
}

/* banner section*/
.banner{
    display: flex;
    background-color: #C6E4D6;
    border-radius: 20px;
    margin: 25px auto;
}
.banner-content{
    width: 450px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
.banner button{
    background-color: #006A50;
    color: #fff;
    font-size: 18px;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
}

.banner-image{
    background-repeat: no-repeat;
    background-position: center;
    
}
.banner-content p{
    font-size: 20px;
    color: #0E0E0E;
    opacity: 50%;
}
.banner-content h1{
    font-size: 45px;
}
/*Future Vision Section */

.future_vision > p{
    font-size: 14px;
    color: #0E0E0E;
    opacity: 70%;
    margin: 25px 0;
    
}
.future_vision > p,
.future_vision > h2{
    padding: 0 60px;
}
.future{
    margin-left: 60px;
    display: flex;
    gap: 20px;

}
.digital{
    padding: 20px 0;
    padding-left: 20px;
    padding-right: 10px;
    border-radius: 10px;
    background-color: rgb(84, 144, 245, 21%);
    color: rgb(14, 14, 14, 80%);
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
.btn{
    padding: 5px 10px;
    background-color: #5490F5;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 12px;
}
.digital h3{
    font-size: 18px;
}
.digital p{
    font-size: 14px;
}
.digital-green{
    background-color: #C6E4D6;
}
.digital-modern{
    background-color: #F7EBCF;
}
.digital .btn-green{
    background-color: #09A15C;
    color: #fff;
}
.digital .btn-modern{
    background-color: #FFC239;
    color: #fff;
}

/*Recent News Section */
.recent-news{
    padding-top: 0px;
}
.recent-news .news{
    display: flex;
    gap: 20px;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    margin-top: 20px;
}
.news-img img{
    border-radius: 10px;
    
}
.news-content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.news-content h2{
    color: rgb(14, 14, 14, 80%);
    font-size: 25px;
}
.news-content img{
    width: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.news-content p{
    font-size: 14px;
}
.news-content button{
    background-color: #006A50;
    margin-top: 20px;
}
.recent-news h4{
    font-size: 35px;
}
.recent-news p{
    font-size: 14px;
    margin: 10px 0;
}
.time span{
    font-size: 14px;
    margin-right: 10px;
}
/*Donate Today Section */
.donate-today{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0;
    width: 800px;
    gap: 20px;
}
.donate-today h2{
    font-size: 40px;
    
}
.donate-today p{
    font-size: 14px;
}
.donate-taka{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}
.donate-taka span{
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid rgb(14, 14, 14, 10%);
    font-size: 25px;
    font-weight: 700;
}
.donate-taka span:hover{
    background-color: #C6E4D6;
    transition: .5s;
}
.donate-today input{
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(14, 14, 14, 10%);
}
.donate-today .donate-btn{
    background-color: #006A50;
}
/*Newsletter Section */
.news-letter{
    background-color: #C6E4D6;
    width: 920px;
    border-radius: 10px;
}
.news-content{
    width: 520px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.news-content h2{
    font-size: 35px;
    font-weight: 700;
}

.subscribe-input{
    padding: 12px 90px;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}
.subscribe-btn{
    padding: 10px 20px;
    border: none;
    background-color: #006A50;
    margin-left: -4px;
    margin-top: 5px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    
}
.subscribe-button a{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}
.subscribe-button p{
    color: rgb(14, 14, 14, 70%);
    font-size: 14px;
}
/*Quote Section */
.quote{
    background-color: #fff;
    margin: 30px 110px;
    border-radius: 10px;
    width: 920px;
    border: 1px solid rgb(14, 14, 14, 10%);
    
}
.quote-content{
    background: url("../assets/quote-bg.png") no-repeat;
    background-position: top left;
    
}
.quote-description{
    font-size: 14px;
}
.quote-content h2{
    font-size: 25px;
    margin-top: 20px;
}
.quote-content p{
    font-size: 14px;
    margin-top: 10px;
    color: rgb(14, 14, 14, 70%);
}